<div class="row">
  <div class="col-md-12">
    <p id="notice" class='text-center class="alert alert-info alert-dismissable" role="alert"'>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= notice %></p>
  </div>
</div>


<div class="col-md-4">
  <h1 class="text-center">To do</h1>
  <%= render @to_do %>
</div>

<div class="col-md-4">
  <h1 class="text-center">Doing</h1>
  <%= render @doing %>
</div>

<div class="col-md-4">
<h1 class="text-center">Done</h1>
  <%= render @done %>
</div>
